@font-face {
  font-family: 'feather';
  src: url('../static/fonts/feather/feather.eot?t=1525787366991'); /* IE9*/
  src: url('../static/fonts/feather/feather.eot?t=1525787366991#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../static/fonts/feather/feather.woff?t=1525787366991') format('woff'),
    /* chrome, firefox */ url('../static/fonts/feather/feather.ttf?t=1525787366991') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('../static/fonts/feather/feather.svg?t=1525787366991#feather') format('svg'); /* iOS 4.1- */
}

.fe {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fe-star:before {
  content: '\f005';
}
.fe-arrow-left:before {
  content: '\e913';
}
.fe-arrow-right:before {
  content: '\e91b';
}
.fe-briefcase:before {
  content: '\e900';
}
.fe-check:before {
  content: '\e901';
}
.fe-check-circle:before {
  content: '\e902';
}
.fe-chevron-down:before {
  content: '\e903';
}
.fe-chevron-left:before {
  content: '\e904';
}
.fe-chevron-right:before {
  content: '\e905';
}
.fe-chevron-up:before {
  content: '\e906';
}
.fe-corner-down-right:before {
  content: '\e907';
}
.fe-download:before {
  content: '\e908';
}
.fe-eye:before {
  content: '\e91f';
}
.fe-eye-off:before {
  content: '\e920';
}
.fe-github:before {
  content: '\e91c';
}
.fe-heart:before {
  content: '\e909';
}
.fe-log-in:before {
  content: '\e90a';
}
.fe-log-out:before {
  content: '\e90b';
}
.fe-menu:before {
  content: '\e90c';
}
.fe-refresh-cw:before {
  content: '\e90d';
}
.fe-search:before {
  content: '\e90e';
}
.fe-share-2:before {
  content: '\e90f';
}
.fe-shopping-cart:before {
  content: '\e910';
}
.fe-thumbs-down:before {
  content: '\e911';
}
.fe-thumbs-up:before {
  content: '\e912';
}
.fe-trash-2:before {
  content: '\e91d';
}
.fe-truck:before {
  content: '\e914';
}
.fe-twitter:before {
  content: '\e91e';
}
.fe-upload:before {
  content: '\e915';
}
.fe-user:before {
  content: '\e916';
}
.fe-x:before {
  content: '\e917';
}
.fe-x-circle:before {
  content: '\e918';
}
.fe-zoom-in:before {
  content: '\e919';
}
.fe-zoom-out:before {
  content: '\e91a';
}
