@font-face {
  font-family: 'feather';
  src: url('../static/fonts/feather/feather.eot?t=1525787366991'); /* IE9*/
  src: url('../static/fonts/feather/feather.eot?t=1525787366991#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../static/fonts/feather/feather.woff?t=1525787366991') format('woff'),
    /* chrome, firefox */ url('../static/fonts/feather/feather.ttf?t=1525787366991') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('../static/fonts/feather/feather.svg?t=1525787366991#feather') format('svg'); /* iOS 4.1- */
}

.fe {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fe-briefcase:before {
  content: '\e900';
}
.fe-check:before {
  content: '\e901';
}
.fe-chevron-down:before {
  content: '\e902';
}
.fe-chevron-left:before {
  content: '\e903';
}
.fe-chevron-right:before {
  content: '\e904';
}
.fe-chevron-up:before {
  content: '\e905';
}
.fe-heart:before {
  content: '\e906';
}
.fe-log-in:before {
  content: '\e907';
}
.fe-log-out:before {
  content: '\e908';
}
.fe-menu:before {
  content: '\e909';
}
.fe-search:before {
  content: '\e90a';
}
.fe-shopping-cart:before {
  content: '\e90b';
}
.fe-star:before {
  content: '\e914';
}
.fe-tag:before {
  content: '\e90c';
}
.fe-tool:before {
  content: '\e90d';
}
.fe-truck:before {
  content: '\e90e';
}
.fe-user:before {
  content: '\e90f';
}
.fe-user-plus:before {
  content: '\e910';
}
.fe-x:before {
  content: '\e911';
}
.fe-zoom-in:before {
  content: '\e912';
}
.fe-zoom-out:before {
  content: '\e913';
}
