@import './colors';

body {
  font-family: 'Jost', sans-serif;
}

strong {
  font-weight: 500;
}

.text-gray-400 {
  color: #909090 !important;
}

.text-gray-500 {
  color: #525252 !important;
}

/* ////////// Custom ////////// */

a {
  text-decoration: none;

  &.link-underline {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      border-bottom: 1px solid;
      transform-origin: left center;
      transition: all 0.2s ease-in-out;
      transition-property: transform;
    }

    &:hover::before {
      transform-origin: right center;
      transform: scaleX(0);
    }
  }
}

.form-select-sm {
  padding-right: 3.125rem;
}

.error-emoji {
  font-size: 3.125rem !important; // 3.125rem => 50px
}

/* ////////// Nav list group ////////// */

.nav-list-group .list-group-item {
  color: $secondary;
}
.nav-list-group .list-group-item.active {
  font-weight: 500;
}
.nav-list-group .list-group-item.active {
  color: $dark;
  background-color: transparent;
  border-color: $dark;
}

.nav-list-group .list-group-item + .list-group-item.active {
  border-top-width: 0;
  margin-top: -0.0625rem;
}

.nav-list-group .list-group-item-action:focus,
.list-group-item-action:hover {
  background-color: #f8f9fa;
  color: $dark;
  text-decoration: none;
  z-index: 1;
}

.account-order-image {
  width: 4.375rem;
  height: 4.375rem;
}

.heading-xxxs {
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* ////////// Pagination ////////// */

.pagination {
  font-weight: 500;
}

.pagination-sm {
  font-size: 0.9375rem;
}

.page-item .page-link {
  color: $secondary;
}

.page-item.active .page-link,
.page-item .page-link:hover {
  color: $primary;
  border-color: $primary;
  background-color: transparent;
}

.pagination .page-link {
  border-width: 0 0 0.0625rem 0;
  border-bottom: 0.0625rem solid $secondary;
}

.pagination .page-link.page-link-arrow {
  border-width: 0rem;
}

.pagination-sm .page-link {
  padding: 0.5rem 1rem;
  font-size: 0.9375rem;
  line-height: 1.5;
}

/* ////////// Footer ////////// */

footer a {
  color: $secondary;

  &:hover {
    color: shade-color($secondary, 30%);
  }
}
