@import './colors';

// Inputs
$input-btn-padding-y: 0.875rem;
$input-btn-padding-x: 1.5rem;
$input-btn-focus-width: 0rem;

// Fonts
$font-weight-normal: 400;
$font-weight-bold: 500;

// Navbar
$nav-link-font-weight: $font-weight-bold;

$nav-link-color: $dark !important;
$nav-link-hover-color: $primary !important;

$nav-tabs-link-active-color: $primary !important;

$navbar-nav-link-padding-x: 0.8rem !important;

$navbar-toggler-font-size: 1.75rem !important;

$navbar-light-toggler-color: $dark !important;
$navbar-light-toggler-border-color: none !important;

$navbar-toggler-border-radius: 0 !important;
$navbar-toggler-padding-y: 0.08rem;
$navbar-toggler-padding-x: 0.4rem;

// Dropdowns
$dropdown-link-color: shade-color($secondary, 45%) !important;
$dropdown-link-hover-color: $dark !important;
$dropdown-link-hover-bg: $light !important;

// Transition => .collapse
$transition-collapse: height 0.3s ease;

// Buttons
$btn-font-weight: $font-weight-bold;
$btn-box-shadow: none;
$btn-border-radius: 0rem;
$btn-border-radius-sm: 0rem;
$btn-border-radius-lg: 0rem;

// Cards
$card-border-radius: 0rem;
$card-border-color: transparent;

// Modal

$modal-header-padding-y: 2rem !important;
$modal-header-padding-x: 1rem !important;

$modal-content-border-width: 0rem;
$modal-content-border-radius: 0rem;

// Inputs
$input-focus-border-color: shade-color($dark, 50%);
$input-border-radius: 0rem;
$input-border-radius-sm: 0rem;
$input-border-radius-lg: 0rem;

// Forms
$form-feedback-valid-color: $success;
$form-feedback-invalid-color: $danger;

$form-feedback-icon-valid-color: $form-feedback-valid-color;
$form-feedback-icon-invalid-color: $form-feedback-invalid-color;

$form-feedback-icon-invalid: none;

$form-feedback-icon-valid: none;

// Alerts
$alert-padding-y: 0.75rem;
$alert-padding-x: 0.75rem;
$alert-border-radius: 0;
$alert-border-width: 0;
$alert-bg-scale: -50%;
