// ------- Colors ------- //

$primary: #ff6f61;
$secondary: #a6a6a6;
$success: #28bb74;
$info: #3b86ff;
$warning: #ff9736;
$danger: #ff4c3b;
$light: #ffffff;
$dark: #1f1f1f;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

// Links

$link-color: $dark !important;
$link-hover-color: $primary !important;

// Fonts

$font-weight-normal: 400;
$font-weight-bold: 500;

// Navbar

$nav-link-font-weight: $font-weight-bold;
$nav-tabs-link-active-color: $primary !important;

$navbar-nav-link-padding-x: 0.8rem !important;

$navbar-toggler-font-size: 1.75rem !important;
$navbar-light-toggler-color: $dark !important;
$navbar-light-toggler-border-color: none !important;
$navbar-toggler-border-radius: 0 !important;
$navbar-toggler-padding-y: 0.08rem;
$navbar-toggler-padding-x: 0.4rem;

// Dropdowns

$dropdown-link-color: shade-color($secondary, 45%) !important;
$dropdown-link-hover-color: $dark !important;
$dropdown-link-hover-bg: $light !important;

// Transition => .collapse
$transition-collapse: height 0.75s ease !important;
