.navbar-brand {
  font-weight: 600;
}

.navbar-toggler {
  border: 2px solid tint-color($dark, 10%);

  & > * {
    color: $dark;
  }
}

// Shopping Cart current items indicator
[data-cart-items] {
  position: relative;

  &::before {
    content: attr(data-cart-items);
    position: absolute;
    top: -0.5rem;
    right: -0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #ff6f61;
    color: #fff;
  }
}
